* {
    font-family: "Courier", "Courier New", "Lucida Sans Typewriter", "monospace";
    font-weight: bold;
    user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -khtml--tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    -o-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
    -khtml--text-size-adjust:none;
    -moz-text-size-adjust:none;
    -o-text-size-adjust:none;
    -webkit-touch-callout:none;
    -khtml--touch-callout:none;
    -moz-touch-callout:none;
    -o-touch-callout:none;
    transition: all 0.6s;
}

header {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
}

main {
    height: calc(100vh - 3rem)
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
}

#sideBar {
    background-color: #00fffd;
    color: #000000;
    float: left;
    height: 100%;
    position: relative;
    right: 0vw;
    z-index: 1;
}

#menu {
    font-size: 4vh;
    text-align: center;
    padding: 1vh;
}

#menu div {
    padding: 1vh 0.5vh;
    margin: 7vh 0vh;
}

#menu svg {
    display: block;
    margin: -6vh auto;
}

#menu .button {
    cursor: pointer;
    background-color: #000000;
    box-shadow: inset 0 0 3vh #00fffd;
    color: #00fffd;
    text-shadow: 0 0 3vh #00fffd;
    border-radius: 1vh;
}

#menu .button.selected {
    color: #ff00ff;
    text-shadow: 0 0 3vh #ff00ff;
}

#menu .button:hover {
    background-color: #000000cc;
}

#menu .button:active {
    background-color: #000000bb;
}

#calculator .button:hover {
    background-color: #000000cc;
}

#calculator .button:active {
    background-color: #000000bb;
}

#currencyList {
    position: absolute;
    background-color: #fe00fe;
    right: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 70vw;
    height: calc(100vh - 3rem);
}

#currencyList .button {
    flex-grow: 1;
    font-size: 3vh;
    text-align: center;
    padding: 2vh;
    color: magenta;
    text-shadow: 0 0 2vh magenta;
    box-shadow: inset 0 0 3vh #fe00fe;
    background-color: black;
    border: solid 0.1vh #ff00ff;
    cursor: pointer;
}

#currencyList .button:hover {
    background-color: #000000cc;
}

#currencyList .button:active {
    background-color: #000000bb;
}

#calculator {
    height: 100%;
    background-color: #00fffd;
}

#display {
    background-color: black;
    box-shadow: inset 0 0 3vh #00fffd;
    border: solid 0.1vh #00fffd;
    color: magenta;
    text-shadow: 0 0 2vh #ff00ff;
    height: calc(20% - 0.2vh);
    display: flex;
    justify-content: center;
    flex-direction:  column;
    align-items: flex-end;
}

#secondaryOutput {
    font-size: 5vh;
    align-self: flex-start;
    padding: 0vh 1.5vh;
    opacity: 0.0;
}

#output {
    font-size: 10vh;
    align-self: flex-end;
    padding: 0vh 1.5vh;
    overflow-x: auto;
    text-align: right;
    width: calc(100% - 3vh - 1px);
    direction: rtl;
}

#numPad {
    height: 80%;
    /* box-shadow: 0 0 3vh 0.1vh #00fffd; */
}

.row {
    display: flex;
    height: 25%;
}

.row .button {
    cursor: pointer;
    background-color: #000000;
    border: solid 0.1vh #00fffd;
    box-shadow: inset 0 0 3vh 0vh #00fffd;
    color: #00fffd;
    text-shadow: 0 0 2vh #00fffd;
    width: 100%;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}